<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block tittle %}{% endblock %}</title>

        {% include "base/head.html" %}
        {% block head %}
        
        {% endblock %}
    </head>
    <body>
        {% block body %}
        
        {% endblock %}
    </body>

    {% include "base/scripts.html" %}

    {% block js %}
    
    {% endblock %}
</html>