{% extends "base/base.html" %}

{% load static %}

{% block tittle %}Gualmar - Tus compras inteligentes.{% endblock %}

{% block body %}

{% include "base/topbar.html" %}

{% if carts %}

  <div class="ui content segment" style="background-color:#cbbede;">
    <div class="ui very relaxed large divided selection list">
      {% for cart in carts %}
        <div class="item">
          <img src="{{cart.article.image.url}}" class="ui tiny circular fluid image">
          <div class="content">
            <a class="header">
              <p style="color:#1b1725">{{cart.article.name}}</p>
            </a>
            <div class="description">
              <p style="color:#595660"><b>Precio: </b>${{cart.article.price}}<br /><b>Cantidad:
                </b>{{cart.quantity}}<br /><b>Total a Pagar: </b>${{cart.amount}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      <div style="float:right; font-size:18px;"><b>Total a pagar: </b>${{total}}</div><br />
    </div>
    <a href="{% url 'dashboard' %}"><button class="ui left floated red big button" style="margin-left:2em"><i
          class="ui icon arrow alternate circle left"></i>Atrás</button></a>
    <button class="ui right floated green big button" style="margin-right:2em"><i
        class="ui icon handshake outline"></i>Pagar</button>
    <br /><br /><br />
  </div>

{% endif %}

{% endblock %}