{% extends "base/base.html" %}

{% load static %}

{% block tittle %}Gualmar - Tus compras inteligentes.{% endblock %}

{% block body %}

{% include "base/topbar.html" %}

{% if carts %}

  <div class="ui content segment" style="background-color:#cbbede;">
    <div class="ui very relaxed large divided selection list">
    <div class="ui header" style="margin-left:10px">Mi Carrito de Compras<a class="ui orange button right floated" onclick="javascript:Recomendar();"><i class="ui icon rocket"></i>IA</a><a class="ui red button right floated" onclick="javascript:Limpiar();"><i class="ui icon trash alternate" style="padding-left:7px"></i></a></div>
    {% csrf_token %}
        {% for cart in carts %}
           <div class="middle aligned item" >
            <img src="{{cart.article.image.url}}" class="ui tiny circular fluid image">
            <div class="content">
              <a class="header">
                 <b><p style="color:#1b1725">{% if cart.sponsored %}<a class="ui red small horizontal label">Sugerido</a>{% endif %} {{cart.article.name}}</p></b>
              </a>
              <div class="description">
                <p style="color:#595660"><b>Precio: </b>${{cart.article.price}}<br /><b>Cantidad:
                  </b>{{cart.quantity}}<br /><b>Total a Pagar: </b>${{cart.amount}}</p>              </div>
            </div>
          <a class="ui large right floated red button" style="margin-top:1.5em;display: flex; align-items: center;" onclick="javascript:EliminarItemCarrito({{cart.id}});"><i class="ui icon x icon"></i>Remover</a>
          <a class="ui large right floated teal button" style="margin-top:1.5em;display: flex; align-items: center;" onclick="javascript:ConsultarCarrito({{cart.article.code}});"><i class="ui icon search"></i>Ver</a>
          </div>
        {% endfor %}
      <div style="float:right; font-size:18px;"><b>Total a pagar: </b>${{total}}</div><br />
    </div>
  </div>
  <a href="{% url 'dashboard' %}"><button class="ui left floated red big button" style="margin-left:2em"><i
        class="ui icon arrow alternate circle left"></i>Atrás</button></a>
  <a href="{% url 'payments' %}">
    <button class="ui right floated green big button" style="margin-right:2em"><i
        class="ui icon handshake outline"></i>Pagar</button></a>
  <br /><br /><br />
</div>

{% else %}
{% csrf_token %}
<div class="ui content segment" style="background-color:#cbbede;">
  <div class="ui header centered" style="margin-top:10px;margin-bottom:15px;">
    No hay ítems en tu carrito de compras.<br /><a class="ui big orange button" onclick="javascript:Recomendar();"><i class="ui icon rocket"></i>IA</a>
    <a href="{% url 'dashboard' %}" class="ui big teal button" style="margin-top:1em;"><i
        class="ui icon arrow alternate circle left"></i>Volver</a>
  </div>
</div>

{% endif %}
<br /><br /><br />

{% endblock %}