{% extends "base/base.html" %}

{% load static %}

{% block tittle %}Gualmar - Tus compras inteligentes.{% endblock %}

{% block body %}

{% include "base/topbar.html" %}

<div class="ui one column centered grid" style="margin-top:2px;margin-bottom:2px;">
    <form method="POST">
    {% csrf_token %}
        <div class="ui fluid category search">
            <div class="ui action left icon input">
                <i class="search icon"></i>
                <input class="prompt" placeholder="Buscar..." type="text" name="phrase">
                <div class="ui teal button"><input type="submit" value="Búsqueda"
                        style="background-color:transparent;border: none;"></div>
            </div>
            <div class="results"></div>
        </div>
    </form>
</div>

<div class="ui grid" style="margin-right:2px;margin-left:2px;">
{% csrf_token %}
    {% for category in categories %}
        <div class="ui segment" style="background-color:#cbbede;">
            <h3><b>{{category.name}}</b></h3><br>
            <div class="ui equal width grid">
                <div class="ui four link cards">
                    {% for article in articles %}
                        {% for articleCategory in article.categories.all %}
                            {% ifequal articleCategory.id category.id %}
                                <div class="ui card" style="background-color:#d5d7df;"
                                    onclick="javascript:Consultar({{ article.code }});">
                                    <div class="content">
                                        <div class="ui grid">
                                            <div class="four wide column ui circular fluid middle aligned image">
                                                <img src="{{article.image.url}}">
                                            </div>
                                            <div class="twelve wide column">
                                                <div class="ui header">{{article.name}}</div>
                                                <p>{{article.description}}</p>
                                                <p><b>Precio:</b> ${{article.price}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% comment %}
                                Ganas de Joder de AJAV06
                                {% endcomment %}

                                <div class="ui card" style="background-color:#d5d7df;">
                                    <div class="content">
                                        <div class="ui grid">
                                            <div class="four wide column ui circular fluid middle aligned image">
                                                <img src="{% static 'semantic/images/logo.png' %}">
                                            </div>
                                            <div class="twelve wide column">
                                                <div class="ui header">Mouse Factory</div>
                                                <p>Un ratón bien pavo</p>
                                                <p><b>Precio:</b> $20,99</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endifequal %}                        
                        {% endfor %}
                    {% endfor %}
                    <!--Aqui otros-->
                </div>
            </div><br><br>
        </div>
    {% endfor %}
</div>
{% endblock %}