{% extends "base/base.html" %}

{% load static %}

{% block tittle %}Gualmar - Tus compras inteligentes.{% endblock %}

{% block body %}

{% include "base/topbar.html" %}

<div class="ui one column centered grid" style="margin-top:2px;margin-bottom:2px;">
    <form method="POST" class="ui form">
        {% csrf_token %}
        <img src="{% static 'semantic/images/gualmar_logo.png' %}" class="image"
            style="width:450px;height:auto;margin-top:1em;">
            <h2 class="ui header">Gualmar - Tus compras inteligentes</h2>
        <div class="ui basic segment" style="margin-left:150px;margin-right:150px;">
        <h4>Bienvenido a Gualmar. Eres libre de navegar por nuestro sitio, buscar los productos que prefieras, añadirlos
            a tu carrito y comprarlos. Sin embargo, nuestro algoritmo especial de IA estará atento a tu actividad, y te
            sugerirá compras personalizadas basado en eso. ¡Felices compras!</h4>
        </div><br>
        
        <div class="ui three column grid container">
            <div class="column" style="padding: 0 !important;">
                <select class="ui fluid search dropdown" id="test" name="category">
                    <option value="">Todas las Categorías</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="ui column action left icon input" style="padding: 0 !important;">
                <i class="search icon"></i>
                <input class="prompt" placeholder="Buscar..." type="text" name="phrase">
            </div>
            <div class="column" style="padding: 0 !important;">
                <button class="ui fluid teal medium button">Búsqueda</button>
            </div>
        </div>
    </form>
</div>

{% if recomendados %}
<div class="ui grid" style="margin-right:2px;margin-left:2px;">
    {% csrf_token %}
    <div class="ui segment" style="background-color:#cbbede;">
        <h3><b>Recomendaciones para ti <div class="ui tiny orange button" data-tooltip="Estas recomentaciones son generadas por IA." data-inverted="" style="margin-left:10px;"><i class="ui icon rocket" style="padding-left:5px;"></i>IA</div><a class="ui small green button right floated" style="padding-right:10px" onclick="javascript:window.location.reload();"><i class="ui icon redo"></i></a></b></h3><br>
        <div class="ui equal width grid">
            <div class="ui four link cards">
                {% for article in recomendados %}
                <div class="ui card" style="background-color:#c4fcd1;"
                    onclick="javascript:Consultar({{ article.code }});">
                    <div class="content">
                        <div class="ui grid">
                            <div class="four wide column ui circular fluid middle aligned image">
                                <img src="{{article.image.url}}" style="object-fit:cover;">
                            </div>
                            <div class="twelve wide column">
                                <div class="ui header">{{article.name}}</div>
                                <p>{{article.description|truncatewords:10}}</p>
                                <p><b>Precio:</b> ${{article.price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Aqui otros-->
                {% endfor %}
            </div>
        </div><br><br>
    </div>
{% endif %}

    {% for category in categories %}
    <div class="ui segment" style="background-color:#cbbede;">
        <h3><b>{{category.name}}</b></h3><br>
        <div class="ui equal width grid">
            <div class="ui four link cards">
                {% for article in articles %}
                {% for articleCategory in article.categories.all %}
                {% ifequal articleCategory.id category.id %}
                <div class="ui card" style="background-color:#c4fcd1;"
                    onclick="javascript:Consultar({{ article.code }});">
                    <div class="content">
                        <div class="ui grid">
                            <div class="four wide column ui circular fluid middle aligned image">
                                <img src="{{article.image.url}}" style="object-fit:cover;">
                            </div>
                            <div class="twelve wide column">
                                <div class="ui header">{{article.name}}</div>
                                <p>{{article.description|truncatewords:10}}</p>
                                <p><b>Precio:</b> ${{article.price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endifequal %}
                {% endfor %}
                {% endfor %}
                <!--Aqui otros-->
            </div>
        </div><br><br>
    </div>
    {% endfor %}
</div>
{% endblock %}