{% extends "base/base.html" %}

{% load static %}

{% block tittle %}Gualmar - Perfil.{% endblock %}

{% block body %}

{% include "base/topbar.html" %}

<div class="ui grid" style="margin-top:60px;margin-bottom:40px;">
  <div class="ui centered card" style="width:45%;background-color:#cbbede;">
    <h4 class="ui horizontal divider header" style="margin-top:1em;">
      <i class="user icon"></i>
      Perfil
    </h4>
    <div class="one column row">
      <div class="column">
        <img class="ui small circular centered image" src="{{ user.image.url }}">
      </div><br>
    </div>
    <div class="one column row">
      <div class="column ">
        <div class="ui content">
          <div class="ui center aligned header">{{ user.first_name }} {{user.last_name}}</div>
          <div class="center aligned description">
            <p><b>Nombre de usuario:</b> {{ user.username }} </p>
            <p><b>Teléfono:</b> {{ user.phone }} </p>
            <p><b>Correo:</b> {{ user.email }} </p>
            <p><b>Fecha de nacimiento:</b> {{ user.birth_date }} </p>
            <p><b>Me interesa:</b> {% for categoria in user.preferences.all %}{{categoria.name}}, {% endfor %}</p>
          </div>
        </div>
      </div>
    </div>
    <h4 class="ui horizontal divider header" style="margin-top:1em;">
      <i class="home icon"></i>
      Dirección
    </h4>
    <div class="one column row">
      <div class="column ">
        <div class="center aligned description">
          <p><b>País:</b> {{ direccion.country }} </p>
          <p><b>Estado:</b> {{ direccion.location }} </p>
          <p><b>Ciudad:</b> {{ direccion.city }} </p>
          <p><b>Dirección:</b> {{ direccion.address }} </p>
        </div><br>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<script>

</script>